#footer{
    width: 1034px;
    margin: 0 auto;
}
.about {
    overflow: hidden;
    padding-top: 60px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
.about .select{
    float: left;
    height: 50px;

}

.list{
    float: right;
}
.list dl{
    float: left;
    margin-right: 130px;
    line-height: 30px;
}
.list dt{
    font-weight: bold;
    margin-bottom: 10px;
}

.end{
    padding-top: 20px;
    overflow: hidden;
}
.end .left{
    float: left;
}
.end .left img{
    float: left;
    width: 32px;
    height: 32px;
}
.end .left p{
    float: left;
    color: #767676;
    font-size: 16px;
    line-height: 32px;
    margin-left: 10px;
}
.end .right{
    float: right;
}
.end .right a{
    color: #767676;
}